.charts {
  padding: 0.5rem;
  height: 418px;
}

header {
  width: 100%;
  text-align: right;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(24, 24, 24);
  -webkit-app-region: drag;
}

header button {
  all:unset;
  width: 1rem;
  height: 1rem;
  margin: 0.25rem;
  -webkit-app-region: no-drag;
}

.window{
  display: grid;
  grid-template-columns: 24rem auto;
  gap: 1rem;
  align-items: center;
  margin: 1rem;
  max-width: 900px;
  margin: auto;
}

.options {
  display: block;
  padding: 0.5rem;
  width: 100%;
  margin: 0.5rem 0;
  background-color: rgb(54, 54, 54);
}
.options:hover {
  background-color: rgba(71, 71, 71, 0.767);
}

.optionChart {
height: 90px;
width: 100%;
}

.optionSelect {
  display: flex;
  gap: 0.5rem;
}

.optionSelect :first-child {
  font-weight: 500;
}
.optionSelect :nth-child(2) {
  font-weight: 400;
  font-size: 14px;
}